*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-style: italic;
    background-image: linear-gradient(to right bottom, #efc34a, #d59f3d, #b87d32, #995e27, #78411d, #723c1e, #6c371f, #66331f, #7b432c, #91533a, #a76448, #be7656); 
}
a:hover{
    scale: 1.2;
    transition: 500ms;
}
span h1{
    text-align: center;
    margin-top: 100px;
    padding-bottom: 100px;
}

/* header */

header{
   display: flex;
   position: sticky; 
   top: 0;  
   z-index: 1; 
   background-image: linear-gradient(to left top, #794028, #703a23, #67331e, #5f2d1a, #562715, #5b2b18, #612f1c, #66331f, #7b432c, #91533a, #a76448, #be7656);
   width: 100%;
   padding: 10px 0px;
   margin-bottom: 30px;
}
.header-image{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
header .header-image h1{
    font-size: 100%;
    margin-left: 2%;
    filter: drop-shadow(2px 2px 5px #0E0504);
}
header .header-image img{
    width: 10%;
    filter: drop-shadow(20px 10px 1px #0E0504);
}
.navbar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}
header .navbar a{
    display: flex;
    margin-right: 2%;
    padding: 1%;
    font-size: 90%;
    text-decoration: none;
    color: #0E0504;
    background-color: bisque;
    border-radius: 20%;
}

/* container-1 */

.container{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.container .coffee-splash-img img{
   width: 60%;
   animation: slideright;
   animation-duration: 2s;
}
@keyframes slideright{
    from{transform: translateY(100%);opacity: 0;} 
}
.container .div-1{
    width: 95%;
    margin-left: 5%;
}
.container .div-1 .intro h2{
    text-align: justify;
    font-size: large;
}
.container .div-1 .intro p{
    font-size: 25px;
    font-weight: 600;
}
.container .div-2{
    width: 100%;
    margin-right: 5%;
    animation: slideleft;
    animation-duration: 2s;
}
@keyframes slideleft{
    from{transform: translateY(-100%);opacity: 0;} 
}
.container .div-2 img{
    width: 100%;
    margin: 130px 0px 0px -10px;
    padding-right: 50px;
}
.auto-type{
    margin-left: 10px;
    color: #54210d;
}

/* container 1 and 2 */

.container-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 5% 10%;
    gap: 90px 90px;
    padding: 30px 60px;
}
.container-1 .card-1{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-left: 25px;
    width: 300px;
    height: 300px;
    background: #66331f;
    border-radius: 10%;
    box-shadow: 4px 5px 10px;
    transition: 0.5s;
}
.container-1 .card-1:hover{
    height: 380px;
}
.container-1 .card-1 .imgBx{
    position: absolute;
    top: 10px;
    width: 200px;
    height: 210px;
    overflow: hidden;
    background: #91533a;
    border-radius: 12px;
    transition: 0.5s;
}
.container-1 .card-1:hover .imgBx{
    top: -100px;
    scale: 0.75;
    box-shadow: 0px 15px 45px rgba(0, 0, 0, 0.2);
}
.container-1 .card-1 .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container-1 .card-1 .content{
    position: absolute;
    top: 252px;
    width: 100%;
    padding: 0px 30px;
    text-align: center;
    height: 30px;
    overflow: hidden;
    transition: 0.5s;
}
.container-1 .card-1:hover .content{
    top: 150px;
    height: 250px;
}

/* coffee-beans */

.container-3{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 90px 50px;
    padding: 30px 50px;
    padding-bottom: 80px;
}
.container-3 .card-3{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 300px;
    height: 300px;
    background: #66331f;
    border-radius: 20px;
    box-shadow: 4px 5px 10px;
    transition: 0.5s;
}
.container-3 .card-3:hover{
    height: 400px;
}
.container-3 .card-3 .imgBx{
    position: absolute;
    top: 10px;
    width: 260px;
    height: 220px;
    overflow: hidden;
    background: #91533a;
    border-radius: 12px;
    transition: 0.5s;
}
.container-3 .card-3:hover .imgBx{
    top: -100px;
    scale: 0.75;
    box-shadow: 0px 15px 45px rgba(0, 0, 0, 0.2);
}
.container-3 .card-3 .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container-3 .card-3 .content{
    position: absolute;
    top: 252px;
    width: 100%;
    padding: 0px 30px;
    text-align: center;
    height: 30px;
    overflow: hidden;
    transition: 0.5s;
}
.container-3 .card-3:hover .content{
    top: 150px;
    height: 250px;
}

/* conatiner-3 */

.container-2{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    padding: 80px 90px;
}
.container-2 .imgCs{
    width: 80%;
}
.container-2 .imgCs img{
    width: 80%;
    filter: drop-shadow(2px 2px 40px #0E0504);
    animation: slide-right;
    animation-timeline: view();
    animation-range:0px 500px;
}
@keyframes slide-right{
    from{opacity: 0;transform: translateX(-50%);}
}
.container-2 .para{
  width: 100%;
  text-align: center;
  line-height: 3rem;
  border-radius: 5%;
  box-shadow: 4px 5px 10px;
  color: #0E0504;
  animation: slide-left;
  animation-timeline: view();
  animation-range:0px 500px;
}
@keyframes slide-left{
    from{opacity: 0;transform: translateX(50%);}
}

/* footer */

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(to left top, #794028, #703a23, #67331e, #5f2d1a, #562715, #5b2b18, #612f1c, #66331f, #7b432c, #91533a, #a76448, #be7656);
    padding: 10px 20px;
}
footer .footer-content-2{
    margin-top: -40px;
}
footer .footer-content-3 a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #0E0504;
}
.footer-content-4{
    margin-bottom: 30px;
}

/* Media Query */

/* "Smartphones" Typical Screen Width (320 - 480px) */
 
@media screen and (max-width: 339px){
    
    header{
        width: 100%;
    }
    header .navbar{
        margin: -5px 0px 0px -5px;
    }
    .container{
        flex-direction: column;
    }
    .container .div-1 .intro p{
        font-size: medium;
    }
    .container .div-1 .intro h2{
        font-size: small;
    }
    span h1{
        font-size: x-large;
    }
    .container-1 .card-1{
        width: 240px;
        margin-left: -40px;
        margin-right: -40px;
    }
    .container-3 .card-3{
        margin: -5px -30px;
    }
    footer{
        padding: 20px 0px -50px 0px;
        width: 100%;
    }
    .footer-content-4{
        margin-top: -20px;
    }
    footer .footer-content-2 h4{
        margin-top: -15px;
    } 
}

@media screen and (max-width: 480px) {

    .header-image{
        width:60%;
    }
    header .header-image h1{
        font-size: x-small;
    }
    header .header-image img{
        width: 30%; 
    }
    header .navbar a{
        font-size: smaller; 
        padding: 2px; 
        margin: 9px 2px;
    }
    .container{
        flex-direction: column;
        margin-top: -20px;
        margin-left: -10px;
    }
    .container .div-1 .intro p{
        font-size: 25px; 
        text-align:start;
    }
    .container .div-1 .intro h3{
        font-size: 15px; 
        text-align: justify;
    }
    .container .div-1 .coffee-script h1{
        text-align: center;
        font-size: large;
    }
    .container .coffee-splash-img img{
        width: 220px; 
        margin-top: -10px; 
        animation: sliderup;
        animation-duration: 2s;
    }
    @keyframes sliderup {
        from{transform: translateX(-100%);opacity: 0;} 
    }
    .container .div-2{
        margin: -50px 10px 0px -90px;
    }
    .container .div-2 img{ 
        animation: sliderdown;
        animation-duration: 2s;
    }
    @keyframes sliderdown {
        from{transform: translateX(100%);opacity: 0;} 
    }
    span h1{
        font-size: 150%;
        margin: 20px 0px;
    }
    .container-1{
        margin: 1px;
    }
    .container-1 .card-1 {
        padding: 0px 60px;
        margin: 0px -70;
    }
    .container-1 .card-1 .imgBx{
        width: 70%;
    }
    .container-2 .para{
        padding: 10px;
        text-align: justify;
    }
    .container-2 .para h2{
        font-size: smaller;
        line-height: 15px;
    }
    .container-3 .card-3 .content p{
        font-size: small;
    }
    .container-3 .card-3 .content h3{
        font-size: medium;
    }
    footer{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 30px;
        border: 2px solid;
    }
    .container-3 .card-3 .imgBx{
        width: 200px;
        height: 190px;
    }
    footer .footer-content-2 h2{
        font-size: small;

    }
    footer .footer-content-2 h4{
        font-size: smaller;
    }
    footer .footer-content-3 h2{
        font-size: smaller;
        margin-top: -35px;
    }
    footer .footer-content-3 a{
        font-size: 10px;
        margin-top: 3px;
    }
    .footer-content-4{
        margin-left: 10px;
    }
    .footer-content-4 h2{
        font-size: small;
    }
    .footer-content-4 img{
        width: 25%;
    }
 } 

 /* "Tablets" Typical Screen Width (481 - 768px) */

@media screen and (max-width: 768px) {
    .container .div-1 .intro h2{
        font-size: medium;
        text-align: justify;
    }
    .container{
        display: flex;
        flex-direction: column;
        margin-left: -10px;
        margin-right: 20px;
    }
    .container .coffee-splash-img img{
        animation: sliderdown;
        animation-duration: 3s;
    }
    @keyframes sliderdown {
        from{transform: translateX(100%);opacity: 0;} 
    }
    .container .div-2 img{
        width: 85%;
        margin-top: -10%;
        margin-left: 15%;
        animation: sliderup;
        animation-duration: 3s;
    }
    .container .coffee-splash-img img{
        width: 70%; 
        margin-top: -10px; 
        animation: sliderup;
        animation-duration: 2s;
    }
    @keyframes sliderup {
        from{transform: translateX(-100%);opacity: 0;} 
    }
    .container .div-2{
        margin: -50px 10px 0px -60px;
    }
    .container .div-2 img{
        width: 90%; 
        height: 50%;
        margin: -40px 0px 0px 30px;
        padding: 0px 0px 30px 90px;
        animation: sliderdown;
        animation-duration: 2s;
    }
    @keyframes sliderdown {
        from{transform: translateX(100%);opacity: 0;} 
    }
    .container-2{
        flex-direction: column;
    }
    .container-2 .imgCs img{
        width: 90%;
        margin-left: -50px;
    }
    .container-2 .para{
        margin: 20px -10% 0px -1%;
    }
}
 
 /* "Laptops" Typical Screen Width (769 - 1024px) */

@media screen and (max-width: 885px) {
    .container{
        flex-direction: column;
    }
    .container .coffee-splash-img img{
        width: 50%;
        margin-top: -10px; 
        animation: sliderup;
        animation-duration: 2s;
    }
    @keyframes sliderup {
        from{transform: translateX(-100%);opacity: 0;} 
    }
    .container .div-2{
        margin: -50px 10px 0px -60px;
    }
    .container .div-2 img{
        width: 70%; 
        margin: -30px 0px 0px 150px;
        padding: 0px 0px 30px 90px;
        animation: sliderdown;
        animation-duration: 2s;
    }
    @keyframes sliderdown {
        from{transform: translateX(100%);opacity: 0;} 
    }
    .container-2{
        flex-direction: column;
    }
}

@media screen and (min-width: 1000px){
    .container-1{
        width: 100%;
    }
    .container-1 .card-1{
        width: 260px;
        margin-left: -70px;
        font-size: small;
    }
    .container-3{
        width: 100%;
    }
    .container-3 .card-3{
        margin-left: -44px;
        width: 230px;
        font-size: small;
    }
    .container-3 .card-3 .imgBx{
        width:200px;
    }
}
    
@media screen and (min-width: 1200px) {
    .container-1{
        width: 100%;
        margin-left: -20px;
    }
    .container-1 .card-1{
        margin-left: -20px;
    }
    .container-3{
        margin-left: -10px;
        width: 100%;
    }
    .container-3 .card-3{
        font-size: small;
        width: 240px;
        margin-left: -10px;
    }
    .container-3 .card-3 .imgBx{
        width: 200px;
    }
}

@media screen and (min-width: 1440px){
    .container-1{
        width: 100%;
    }
    .container-1 .card-1{
        margin-left: 80px;
        width: 300px;
        font-size: large;
    }
    .container-3{
        margin-left: -10px;
    }
    .container-3 .card-3{
        width: 300px;
        font-size: medium;
    }
}
    


