*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    scroll-behavior: smooth;
    font-style: italic;
    background-image: linear-gradient(to right bottom, #efc34a, #d59f3d, #b87d32, #995e27, #78411d, #723c1e, #6c371f, #66331f, #7b432c, #91533a, #a76448, #be7656); 
}
a:hover{
    scale: 1.2;
    transition: 500ms;
}
span h1{
    text-align: center;
    margin-top: 100px;
    padding-bottom: 100px;
}

/* header */

header{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 99.6%; 
   margin-top: 10px;
   margin-bottom: 50px;
}
.header-image{
    display: flex;
    align-items: center;
    padding-left: 20px;
    width: 50%;
}
header .header-image h1{
    margin-left: 10px;
    filter: drop-shadow(2px 2px 5px #0E0504);
}
header .header-image img{
    width: 100px;
    height: 70px;
    filter: drop-shadow(30px 10px 1px #0E0504);
}
.navbar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}
header .navbar a{
    display: flex;
    margin-right: 20px;
    text-decoration: none;
    color: #0E0504;
    padding: 10px;
    background-color: bisque;
    border-radius: 10px;
}

/* container-1 */

.container{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin: 10px;
}
.container .coffee-splash-img img{
   width: 600px;
   animation: slideright;
   animation-duration: 2s;
}
@keyframes slideright{
    from{transform: translateY(100%);opacity: 0;} 
}
.container .div-1{
    margin-left: 5%;
}
.container .div-1 .intro p{
    font-size: 30px;
    font-weight: 600;
}
.container .div-1 .intro h2{

}
.container .div-2{
    margin-right: 5%;
    animation: slideleft;
    animation-duration: 2s;
}
@keyframes slideleft{
    from{transform: translateY(-100%);opacity: 0;} 
}
.container .div-2 img{
    width: 800px;
    height: 450px;
    margin-top: 100px;
    padding-right: 50px;
}
.auto-type{
    margin-left: 10px;
    color: #54210d;
}

/* container 1 and 2 */

.container-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 2px;
    gap: 90px 80px;
    padding: 30px 90px;
}
.container-1 .card-1{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-left: 20px;
    width: 350px;
    height: 300px;
    background: #66331f;
    border-radius: 20px;
    box-shadow: 4px 5px 10px;
    transition: 0.5s;
}
.container-1 .card-1:hover{
    height: 380px;
}
.container-1 .card-1 .imgBx{
    position: absolute;
    top: 10px;
    width: 300px;
    height: 220px;
    overflow: hidden;
    background: #91533a;
    border-radius: 12px;
    transition: 0.5s;
}
.container-1 .card-1:hover .imgBx{
    top: -100px;
    scale: 0.75;
    box-shadow: 0px 15px 45px rgba(0, 0, 0, 0.2);
}
.container-1 .card-1 .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container-1 .card-1 .content{
    position: absolute;
    top: 252px;
    width: 100%;
    padding: 0px 30px;
    text-align: center;
    height: 30px;
    overflow: hidden;
    transition: 0.5s;
}
.container-1 .card-1:hover .content{
    top: 150px;
    height: 250px;
}

/* coffee-beans */

.container-3{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 90px 50px;
    padding: 30px 50px;
    padding-bottom: 80px;
}
.container-3 .card-3{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 300px;
    height: 300px;
    background: #66331f;
    border-radius: 20px;
    box-shadow: 4px 5px 10px;
    transition: 0.5s;
}
.container-3 .card-3:hover{
    height: 380px;
}
.container-3 .card-3 .imgBx{
    position: absolute;
    top: 10px;
    width: 260px;
    height: 220px;
    overflow: hidden;
    background: #91533a;
    border-radius: 12px;
    transition: 0.5s;
}
.container-3 .card-3:hover .imgBx{
    top: -100px;
    scale: 0.75;
    box-shadow: 0px 15px 45px rgba(0, 0, 0, 0.2);
}
.container-3 .card-3 .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container-3 .card-3 .content{
    position: absolute;
    top: 252px;
    width: 100%;
    padding: 0px 30px;
    text-align: center;
    height: 30px;
    overflow: hidden;
    transition: 0.5s;
}
.container-3 .card-3:hover .content{
    top: 150px;
    height: 250px;
}

/* conatiner-3 */

.container-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    gap: 20px;
    padding: 80px 90px;
    margin: 20px;
}
.container-2 .imgCs img{
    width: 700px;
    filter: drop-shadow(2px 2px 40px #0E0504);
    animation: slide-right;
    animation-timeline: view();
    animation-range:0px 800px;
}
@keyframes slide-right{
    from{opacity: 0;transform: translateX(-50%);}
}
.container-2 .para{
  text-align: center;
  line-height: 3rem;
  margin-left: 40%;
  margin-right: 20%;
  border-radius: 10px;
  box-shadow: 4px 5px 10px;
  color: #0E0504;
  animation: slide-left;
  animation-timeline: view();
  animation-range:0px 700px;
}
@keyframes slide-left{
    from{opacity: 0;transform: translateX(50%);}
}

/* footer */

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(to left top, #794028, #703a23, #67331e, #5f2d1a, #562715, #5b2b18, #612f1c, #66331f, #7b432c, #91533a, #a76448, #be7656);
    padding: 10px 20px;
}
footer .footer-content-2{
    margin-top: -40px;
}
footer .footer-content-3 a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #0E0504;
}
.footer-content-4{
    margin-bottom: 30px;
}

/* Media Query */
/* "Smartphones" Typical Screen Width (320 - 480px) */
@media screen and (max-width: 480px) {
    header{
        gap: 50px;
        position: sticky;
        top: 0;
        z-index: 1;
        background-image: linear-gradient(to left top, #794028, #703a23, #67331e, #5f2d1a, #562715, #5b2b18, #612f1c, #66331f, #7b432c, #91533a, #a76448, #be7656);
        /* flex-direction: column; */
    } 
    .header-image{
        display: flex;
        justify-content: space-between;
        margin-left: -55px;
    }
    header .header-image h1{
        font-size: small;
    }
    header .header-image img{
        width: 100px;
        float: left;
    }
    header .navbar{
        margin-right: -20px;
        float: right;
    }
    header .navbar a{
        font-size: smaller;
        padding: 4px;
        margin: 8px;
    }
    .container{
        flex-direction: column;
        margin-left: -10px;
    }
    .container .div-1 .intro p{
        font-size: 25px;
        text-align:start;
    }
    .container .div-1 .intro h2{
        font-size: small;
        text-align: justify;
    }
    .container .div-1 .coffee-script h1{
        font-size: large;
    }
    .container .coffee-splash-img img{
        width: 300px;
        margin-top: -30px;
        animation: sliderup;
        animation-duration: 2s;
    }
    @keyframes sliderup {
        from{transform: translateX(-100%);opacity: 0;} 
    }
    .container .div-2{
        margin-top: -160px;
        margin-bottom: 70px;
    }
    .container .div-2 img{
        width: 450px;
        height: 250px;
        animation: sliderdown;
        animation-duration: 2s;
    }
    @keyframes sliderdown {
        from{transform: translateX(100%);opacity: 0;} 
    }
    .container-1 .card-1 {
        padding: 40px;
        width: 300px;
        margin-left: -100px;
        margin-right: -100px;
    }
    .container-1 .card-1 .imgBx{
        width: 200px;
    }
    .container-2 .imgCs img{
        width: 300px;
        margin-left: -70px;
    }
    .container-2 .para{
        padding: 10px;
        text-align: justify;
        margin-top: 30px;
        margin-left: -50px;
        margin-right: -50px;
        
    }
    .container-2 .para h2{
        font-size: medium;
        line-height: 20px;
    }
    footer{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .container-3 .card-3 .imgBx{
        width: 230px;
    }
    footer .footer-content-2 h2{
        font-size: medium;
    }
    footer .footer-content-2 h4{
        font-size: smaller;
    }
    footer .footer-content-3 h2{
        font-size: medium;
        margin-top: -35px;
    }
    footer .footer-content-3 a{
        font-size: 10px;
        margin-top: 3px;
    }
    footer .footer-content-2 img{
        width: 15px;
    }
    .footer-content-4{
        margin-left: 10px;
    }
    .footer-content-4 h2{
        font-size: medium;
    }
    .footer-content-4 img{
        width: 14px;
    }
}
 /* "Tablets" Typical Screen Width (481 - 768px) */
@media screen and (min-width: 481px) and (max-width: 768px) {

 }
 /* "Laptops" Typical Screen Width (769 - 1024px) */
@media screen and (min-width: 769px) and (max-width: 1024px){
 
 } 